# Data preparation

After data translation and data curation, the dataset needs to be prepared for model creation. In previous steps we noticed that the dataset is not ready to be processed due to various reasons.

The scope of this notebook is to eliminate any missing values, create any remaining dummy variables and drop features (columns) that won't be used.

## Load data

In [1]:
import pandas as pd
import os

In [2]:
input_file_path = 'data/data_curated.csv'
data_curated = pd.read_csv(input_file_path)

data_curated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 68 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TimeStamp             580 non-null    object
 1   YearsExperience       580 non-null    object
 2   DevelopmentType       580 non-null    object
 3   ProgrammingLanguages  580 non-null    object
 4   CompanySize           580 non-null    object
 5   WorkLocation          580 non-null    object
 6   SuperivisionRole      580 non-null    float64
 7   WorkOutsideMainJob    574 non-null    float64
 8   CityLive              579 non-null    object
 9   CityWork              282 non-null    object
 10  Sex                   571 non-null    object
 11  NetSalary             580 non-null    float64
 12  ai / ml               580 non-null    float64
 13  backend               580 non-null    float64
 14  bi                    580 non-null    float64
 15  data                  580 non-null    float64
 16  desktop               580 non-null    float64
 17  devops                580 non-null    float64
 18  drupal                580 non-null    float64
 19  embedded              580 non-null    float64
 20  frontend              580 non-null    float64
 21  fullstack             580 non-null    float64
 22  gaming                580 non-null    float64
 23  ict                   580 non-null    float64
 24  magento               580 non-null    float64
 25  mobile                580 non-null    float64
 26  pm                    580 non-null    float64
 27  qa                    580 non-null    float64
 28  robotics              580 non-null    float64
 29  security              580 non-null    float64
 30  ui/ux                 580 non-null    float64
 31  angular               580 non-null    float64
 32  apex                  580 non-null    float64
 33  assembly              580 non-null    float64
 34  bash                  580 non-null    float64
 35  c                     580 non-null    float64
 36  c#                    580 non-null    float64
 37  c++                   580 non-null    float64
 38  ca gen                580 non-null    float64
 39  clojure               580 non-null    float64
 40  cobol                 580 non-null    float64
 41  css                   580 non-null    float64
 42  delphi                580 non-null    float64
 43  dynamics nav          580 non-null    float64
 44  elixir                580 non-null    float64
 45  go                    580 non-null    float64
 46  groovy                580 non-null    float64
 47  html                  580 non-null    float64
 48  java                  580 non-null    float64
 49  js                    580 non-null    float64
 50  kotlin                580 non-null    float64
 51  node                  580 non-null    float64
 52  objective-c           580 non-null    float64
 53  perl                  580 non-null    float64
 54  php                   580 non-null    float64
 55  python                580 non-null    float64
 56  r                     580 non-null    float64
 57  rdml                  580 non-null    float64
 58  ruby                  580 non-null    float64
 59  rust                  580 non-null    float64
 60  scala                 580 non-null    float64
 61  sql                   580 non-null    float64
 62  swift                 580 non-null    float64
 63  tcl                   580 non-null    float64
 64  typescript            580 non-null    float64
 65  vb                    580 non-null    float64
 66  vue                   580 non-null    float64
 67  wordpress             580 non-null    float64
dtypes: float64(59), object(9)
memory usage: 308.2+ KB

We should focus on columns that have an `object` Dtype. Those are `TimeStamp`, `YearsExperience`, `DevelopmentType`, `ProgrammingLanguages`, `CompanySize`, `WorkLocation`, `CityLive`, `CityWork` and `Sex`.

## Fill missing values

We see that the `WorkOutsideMainJob` column has 6 missing values.

In [3]:
data_curated.WorkOutsideMainJob.astype('category').value_counts(dropna=False)

0.0    394
1.0    180
NaN      6
Name: WorkOutsideMainJob, dtype: int64

We replace the missing values by assing a negative semantic value (zero). We interpret the absense of an answer as negation.

In [4]:
data_curated.WorkOutsideMainJob = data_curated.WorkOutsideMainJob.fillna(0.)

The `CityLive` value contains only 1 missing value.

In [5]:
data_curated.CityLive.astype('category').value_counts(dropna=False)

Athena          446
Thessaloniki     53
Heraklion        11
Patras            8
Amsterdam         7
Janina            6
Serres            5
London            4
Berlin            4
Bratislava        2
Kavala            2
Kozani            2
Salamis           2
Cyprus            1
Drama             1
Chania            1
Glasgow           1
Cologne           1
Chios             1
Kalmar            1
Kalymnos          1
Karlskrona        1
Eindhoven         1
NaN               1
Komotini          1
Oxford            1
Volos             1
Vienna            1
Tripoli           1
Stockholm         1
Rethimno          1
Piraeus           1
Nuremberg         1
Krakow            1
Munich            1
Malm√∂             1
Madrid            1
Limassol          1
Leeds             1
Xanthi            1
Larissa           1
Name: CityLive, dtype: int64

We examine the specific row.

In [6]:
data_curated[data_curated.CityLive.isna()]

,TimeStamp,YearsExperience,DevelopmentType,ProgrammingLanguages,CompanySize,WorkLocation,SuperivisionRole,WorkOutsideMainJob,CityLive,CityWork,...,ruby,rust,scala,sql,swift,tcl,typescript,vb,vue,wordpress
200,7/22/2020 23:58:21,11+,"Backend, Frontend",JavaScript,51-100,Remote,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
data_curated[data_curated.CityLive.isna()].NetSalary

200    104000.0
Name: NetSalary, dtype: float64

The case can be considered as an outlier & since it does not contain a lot of information it is dropped.

In [8]:
data_curated = data_curated.drop(200)

## Create dummy variables

Since the columns `YearsExperience`, `CompanySize`, `WorkLocation` amd `CityLive` can be considered as categorical variables, they should be converted to dummy variables.

In [9]:
data_curated = pd.get_dummies(data_curated,columns=['YearsExperience'])
data_curated = pd.get_dummies(data_curated,columns=['CompanySize'])
data_curated = pd.get_dummies(data_curated,columns=['WorkLocation'])
data_curated = pd.get_dummies(data_curated,columns=['CityLive'])

## Drop variables

In the last step, it is decided that the following columns should be dropped. `TimeStamp` does not offer any useful information. The `DevelopmentType` and `ProgrammingLanguages` columns were converted into dummy variables in a previous step. `CityWork` contains too many missing values. Finally, `Sex` is dropped due to its uneven distribution. This might introduce bias against women/females.

In [10]:
data_curated = data_curated.drop(labels=['TimeStamp','DevelopmentType','ProgrammingLanguages','CityWork','Sex'], axis=1)

The final list of columns is printed below.

In [11]:
data_curated.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 579
Data columns (total 113 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   SuperivisionRole                     579 non-null    float64
 1   WorkOutsideMainJob                   579 non-null    float64
 2   NetSalary                            579 non-null    float64
 3   ai / ml                              579 non-null    float64
 4   backend                              579 non-null    float64
 5   bi                                   579 non-null    float64
 6   data                                 579 non-null    float64
 7   desktop                              579 non-null    float64
 8   devops                               579 non-null    float64
 9   drupal                               579 non-null    float64
 10  embedded                             579 non-null    float64
 11  frontend                             579 non-null    float64
 12  fullstack                            579 non-null    float64
 13  gaming                               579 non-null    float64
 14  ict                                  579 non-null    float64
 15  magento                              579 non-null    float64
 16  mobile                               579 non-null    float64
 17  pm                                   579 non-null    float64
 18  qa                                   579 non-null    float64
 19  robotics                             579 non-null    float64
 20  security                             579 non-null    float64
 21  ui/ux                                579 non-null    float64
 22  angular                              579 non-null    float64
 23  apex                                 579 non-null    float64
 24  assembly                             579 non-null    float64
 25  bash                                 579 non-null    float64
 26  c                                    579 non-null    float64
 27  c#                                   579 non-null    float64
 28  c++                                  579 non-null    float64
 29  ca gen                               579 non-null    float64
 30  clojure                              579 non-null    float64
 31  cobol                                579 non-null    float64
 32  css                                  579 non-null    float64
 33  delphi                               579 non-null    float64
 34  dynamics nav                         579 non-null    float64
 35  elixir                               579 non-null    float64
 36  go                                   579 non-null    float64
 37  groovy                               579 non-null    float64
 38  html                                 579 non-null    float64
 39  java                                 579 non-null    float64
 40  js                                   579 non-null    float64
 41  kotlin                               579 non-null    float64
 42  node                                 579 non-null    float64
 43  objective-c                          579 non-null    float64
 44  perl                                 579 non-null    float64
 45  php                                  579 non-null    float64
 46  python                               579 non-null    float64
 47  r                                    579 non-null    float64
 48  rdml                                 579 non-null    float64
 49  ruby                                 579 non-null    float64
 50  rust                                 579 non-null    float64
 51  scala                                579 non-null    float64
 52  sql                                  579 non-null    float64
 53  swift                                579 non-null    float64
 54  tcl                                  579 non-null    float64
 55  typescript                           579 non-null    float64
 56  vb                                   579 non-null    float64
 57  vue                                  579 non-null    float64
 58  wordpress                            579 non-null    float64
 59  YearsExperience_1-3                  579 non-null    uint8
 60  YearsExperience_11+                  579 non-null    uint8
 61  YearsExperience_4-5                  579 non-null    uint8
 62  YearsExperience_6-10                 579 non-null    uint8
 63  YearsExperience_I'm not working yet  579 non-null    uint8
 64  CompanySize_101-200                  579 non-null    uint8
 65  CompanySize_11-50                    579 non-null    uint8
 66  CompanySize_201-500                  579 non-null    uint8
 67  CompanySize_501+                     579 non-null    uint8
 68  CompanySize_51-100                   579 non-null    uint8
 69  CompanySize_<10                      579 non-null    uint8
 70  WorkLocation_At the employer         579 non-null    uint8
 71  WorkLocation_Both                    579 non-null    uint8
 72  WorkLocation_Remote                  579 non-null    uint8
 73  CityLive_Amsterdam                   579 non-null    uint8
 74  CityLive_Athena                      579 non-null    uint8
 75  CityLive_Berlin                      579 non-null    uint8
 76  CityLive_Bratislava                  579 non-null    uint8
 77  CityLive_Chania                      579 non-null    uint8
 78  CityLive_Chios                       579 non-null    uint8
 79  CityLive_Cologne                     579 non-null    uint8
 80  CityLive_Cyprus                      579 non-null    uint8
 81  CityLive_Drama                       579 non-null    uint8
 82  CityLive_Eindhoven                   579 non-null    uint8
 83  CityLive_Glasgow                     579 non-null    uint8
 84  CityLive_Heraklion                   579 non-null    uint8
 85  CityLive_Janina                      579 non-null    uint8
 86  CityLive_Kalmar                      579 non-null    uint8
 87  CityLive_Kalymnos                    579 non-null    uint8
 88  CityLive_Karlskrona                  579 non-null    uint8
 89  CityLive_Kavala                      579 non-null    uint8
 90  CityLive_Komotini                    579 non-null    uint8
 91  CityLive_Kozani                      579 non-null    uint8
 92  CityLive_Krakow                      579 non-null    uint8
 93  CityLive_Larissa                     579 non-null    uint8
 94  CityLive_Leeds                       579 non-null    uint8
 95  CityLive_Limassol                    579 non-null    uint8
 96  CityLive_London                      579 non-null    uint8
 97  CityLive_Madrid                      579 non-null    uint8
 98  CityLive_Malm√∂                       579 non-null    uint8
 99  CityLive_Munich                      579 non-null    uint8
 100 CityLive_Nuremberg                   579 non-null    uint8
 101 CityLive_Oxford                      579 non-null    uint8
 102 CityLive_Patras                      579 non-null    uint8
 103 CityLive_Piraeus                     579 non-null    uint8
 104 CityLive_Rethimno                    579 non-null    uint8
 105 CityLive_Salamis                     579 non-null    uint8
 106 CityLive_Serres                      579 non-null    uint8
 107 CityLive_Stockholm                   579 non-null    uint8
 108 CityLive_Thessaloniki                579 non-null    uint8
 109 CityLive_Tripoli                     579 non-null    uint8
 110 CityLive_Vienna                      579 non-null    uint8
 111 CityLive_Volos                       579 non-null    uint8
 112 CityLive_Xanthi                      579 non-null    uint8
dtypes: float64(59), uint8(54)
memory usage: 301.9 KB

## Save data

In [12]:
data_dir = 'data'
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

output_file = 'data_ready.csv'
data_curated.to_csv(os.path.join(data_dir, output_file), index=False)